# data
data/

# predictions / submissions
submissions/
oof_preds/
*.npy
*.pkl
*.joblib

# csv outputs
*.csv
!logs/lb_log.csv

# catboost
catboost_info/

# IDE
.idea/
.vscode/
*.xml

# notebooks cache
.ipynb_checkpoints/

# python
__pycache__/
*.pyc
.venv/
venv/